<div class='col-md-8 offset-md-1'>
      <h2>Groups</h2>
      <% if current_customer.email != "guest@example.com" %>
      <div><%=link_to "グループを作成する",new_group_path %></div>
      <% end %>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー数</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= image_tag group.image, size: '50x50' %></td>
              <td><%= link_to group.name, group_path(group) %></td>
              <td><%= group.introduction %></td>
              <td><%= group.customers.count %></td>
              <td>
                <% if group.owner_id == current_customer.id %>
                  <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success" %>
                  <%= link_to 'destroy', group_path(group), method: :delete, class: "btn btn-sm btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>