<div class="container">
  <h3>ゲーム新規登録</h3>

  <div class="row">
    <%= form_with model: @game, url: admin_games_path, local: true do |f| %>
    <div class="col">
      <%= render "public/shared/error_messages", resource: @game %>
    </div>
      <table class="games">
          <tr>
          <th>イメージ画像</th>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th>ゲーム名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>ゲーム説明</th>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
        <div class="check_box">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                <div>
                  <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                  <% end %>
                </div>
          <% end %>
        </div>
      </table>
      <br>
      <%= f.submit "新規登録" , class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>